{% extends "base/basecoumt.html" %}
{% load staticfiles %}

{% block main %}
<section class="page-section" id="contentuser"></section>
<div class="col-auto table-responsive">
    <h3 class="mb-4">Team</h3>
    <p>
        <table class="table">
            <tr>
                <td><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" alt="Avatar"
                class="md-avatar rounded-circle size-3"></td>
                <td>Lorema Ipsuma<br>
                Mentor<br>
                @github<br>
                mentor@mail.com</td>
            </tr>
            <tr>
                <td><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" alt="Avatar"
                class="md-avatar rounded-circle size-3"></td>
                <td>Lorem Ipsum <br>
                Student<br>
                @github<br>
                mentor@mail.com</td>
            </tr>
        </table>
    </p>

    <p>

    </p>
    <!--table class="table align-middle">        
        <tbody>
            <tr>               
                <td><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" alt="Avatar" class="md-avatar rounded-circle size-3"></td>
                <td>Mentor Lorema Ipsuma</td>
                <td>@github</td>
                <td>mentor@mail.com</td>                
            </tr>
            <tr>                
                <td><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" alt="Avatar" class="md-avatar rounded-circle size-3"></td>        
                <td>Student Lorem Ipsum</td>
                <td>@github</td>
                <td>mentor@mail.com</td>
            </tr>          
        </tbody>
    </table-->
</div>
</section>

{% endblock %}