{% extends "base/basecoumt.html" %}
{% load staticfiles %}

{% block main %}
<section class="page-section" id="contentuser"></section>
<div class="col-auto">
<h3 class="mb-4">Progress</h3>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col">Cursos</th>
            <th scope="col">Percentage</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Full-Stack web development</td>
            <td>50%</td>
            <td>Today</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Topic 1 Lorem ipsum</td>
            <td>10%</td>
            <td>Today</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Topic 2 Lorem ipsum</td>
            <td>0%</td>
            <td>--</td>
        </tr>
    </tbody>
</table>
</div>
</section>

{% endblock %}